.search-wrapper {
  width: 100%;
  background: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  .search-form {
    justify-content: space-between;
    .search-customer {
      width: 49%;

      span {
        font-weight: 600;
        font-size: 0.875rem;
        width: 100%;
      }

      form {
        margin-top: 1rem;
      }
    }
  }
}

.button-row {
  display: inline;
  text-align: center;
  vertical-align: middle;
}

.button {
  margin: 10px 0 0 10px;
}

table {
  width: 100%;
}

.table {
  padding: 0 1rem;
}

.graph {
  padding: 1rem 1rem;
}
