<h2>Variações de Preço PETR4.SA</h2>

<table class="table">
  <thead>
    <tr>
      <th>Data</th>
      <th>Preço</th>
      <th>Variação Diária</th>
      <th>Variação Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let priceChange of priceChanges; let i = index">
      <td>{{ priceChange.date * 1000 | date : "dd/MM/yyyy hh:mm" }}</td>
      <td>{{ priceChange.price | currency : "BRL" }}</td>
      <td>{{ priceChange.change | percent }}</td>
      <td>{{ priceChange.totalChange | percent }}</td>
    </tr>
  </tbody>
</table>
